@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-base-100
}

.smooth {
    transition: 300ms;
}

.icon:hover {
    color: '#4560E9';
}

progress{
    @apply h-[20px];
}

progress::-webkit-progress-bar{
    @apply bg-white rounded-md;
}

progress::-webkit-progress-value {
    @apply bg-blue-400 rounded-md;
}

.table th:first-child {
    position: static;
}
